body {
	background-color: #1A2935;
	font-family: 'Noto Serif', serif;
}
#header {
	text-align: center;
}
#header a {
	font-size: 100px;
    color: #DFC184;
    font-family: 'Expletus Sans', cursive;
	text-decoration: none;
}
#page {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#inputForm {
	text-align: center;
	padding-top: 15px;
}
#hashInput {
	padding: 10px;
	font-size: 26px;
}
#subButton {
	font-size: 30px;
	margin-top: 25px;
	padding: 5px;
}
#infoLink {
	position: absolute;
	right: 0;
	padding-right: 5px;
	bottom: 0;
}
a {
	color: #DFC184;
	text-decoration: none;
	font-size: large;
}
h2 {
	font-family: 'Expletus Sans', cursive;
	color: #8F6048;
}
#generateCats h2 {
	padding: 0px;
	margin: 0px;
}
#infoBlock p {
	color: #DFC184;
}
#generateCats {
	display: none;
	position: absolute;
	left: 5px;
	bottom: 25px;
	padding: 10px;
	border: 1px double #DFC184;
}
#generateCatsLink {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 5px;
	color: #DFC184;
	text-decoration: none;
	font-size: large;
}
