{% extends "layout.html" %}
{% block body %}
<div id="infoBlock">
	<h2>What is HashACat?</h2>
	<p>HashACat is the next generation of cloud computing!  By combining cats with powerful cloud infrastructure we can provide a unique product, Cats as a Service (CaaS)</p>
	<h2>This web interface is boring!</h2>
	<p>Lucky you!  There exists an even more boring way to get your hashed cat needs!  HashACat provides a ReSTish interface to allow easy integration into every single product you can imagine!</p>
	<p>Simply make a http request for hashacat.com/cat/&lt;yourHash&gt;, and a cat will follow!  Or, for you JSON types, append ?&#xfeff;format=json to get a direct link to your selected cat</p>
	<h2>What if I want each unique hash and cat to be bound in perpetuity?</h2>
	<p>Bam, that's how it works.  Each hash is mapped directly to one cat in our database of thousands.  That hash will always grant the same cat, ensuring you never confuse your users by providing non-consistent cat imaging</p>
	<h2>Who owns all these cat pictures?</h2>
	<p>No idea.  They are from all around the internet, and we at HashACat don't claim any sort of copyright over any of them.</p>
	<h2>Cross Domain biz</h2>
	<p>Yo dawg, we be supporting both JSONp and CORS for all your cross domain calling needs.  CORS just works on the hash URL, and JSONp can be obtained by appending ?&#xfeff;format=json&callback=&#xfeff;&lt;yourFunction&gt; to the /cat URL<p>
	<h2>How dare you rate limit me?</h2>
	<p>Mwahahaha!  *cough* *cough* The rate limit is to help protect our servers, which are solely run by me.  If you really need to go faster, we should talk</p>
{% endblock %}
