<!doctype html>
<html>
<head>
<title>HashACat!</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Noto+Serif|Expletus+Sans' rel='stylesheet' type='text/css'>
<script src="../static/scripts/jquery-1.10.1.min.js"></script>
<script src="../static/scripts/siteScripts.js"></script>
<script type="text/javascript">

</script>
</head>
<body>
<div id="page">
  <div id="header"><a href="http://hashacat.com">HashACat!</a></div>
  {% block body %}
  {% endblock %}
</div>
</html>
