{% extends "layout.html" %}
{% block body %}
<div id="inputForm">
<form onSubmit="return getCat();">
	<input type="text" id="hashInput" name="hash" size="55" placeholder="SHA1 or MD5 Hash">
	<br>
	<button id="subButton" onClick="return getCat();">Give me a cat!</button>
</form>
</div>
<div id="generateCats">
	<h2>Extra&nbsp;ways&nbsp;to&nbsp;get&nbsp;cats</h2>
	<a href="#" id="randomCatLink">Get a random cat</a><br>
	<input type="text" id="textToHash" size="30" placeholder="Text to hash" /><br>
	<a href="#" id="hashTextLink">Get the cat for above text</a>
</div>
<div id="generateCatsLink"><a href="#" id="toggleCatsDiv">Generate Hashes!</a></div>
<div id="infoLink"><a href="info">More info!</a></div>
{% endblock %}
